* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.site-header{
  display: flex;
  color: #ffffffff;
  justify-content: space-between;
  background-color: #e30613;
  padding: 1rem 0;
}
  
.logo-header {
  margin: 0 30px;
  display: flex;
  justify-content: space-between;
  background-color: #b83e47;
}

.header-nav {
  list-style: none;
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.links {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 60px;
  margin-right: 50px;
}

.links a {
  display: flex;
  color: #ffffff;
  font-size: 1.3rem;
  border-bottom: 3px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
  
.vertical-line {
  height: 150px;
  width: 3px;
  background-color: #ffff;
  margin: 0 20px;
  margin-right: 20px;
}
  

.topics-header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}
  
.aba-text {
  color: rgb(0, 0, 0);
  text-align: center;
  justify-content: space-between;
  padding-left: 50px;
  text-decoration: none;
}
  
.aba-text-dicas {
  color: rgb(0, 0, 0);
  padding-left: 70px;
  text-decoration: none;
}
  
.aba-item {
  background-color: #e0e0e0;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 20px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  outline: none;
  width: 250px;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;    font-style: normal;
}
  
.aba-text-check {
  color: rgb(0, 0, 0);
  text-align: center;
  padding-left: 70px;
}
  
.aba-item-check {
  background-color: #e0e0e0;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  width: 250px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.container {
  padding: 40px;
  text-align: center;
} 


.logo-header img {
  max-height: 90px;
  margin-right: 0px;
}

.vertical-line {
  border-left: 1px solid rgb(255, 255, 255);
  height: 90px;
}

.header-nav ul {
  list-style: none;
  display: flex;
  margin: 5px;
  padding: 0;
}

.header-nav ul li {
  margin-left: 20px;
}

.header-nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#icones-header i {
  color: white;
}

.header-banner {
  background-image: url('/Portal_Noticias/images/home.jpg');
  background-size: cover;
  height: 400px;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.topics-header {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding: 10px 0;
}

.aba-item {
  margin: 0 15px;
}

.aba-text {
  text-decoration: none;
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.aba-text-dicas {
  padding: 5px;
  border-radius: 5px;
}

  
/**/

.footer {
  background-color: #9a1915;
  color: white;
  margin-top: 50px;
  text-align:center;
}
  
.footer .icones {
  background-color: #e30613;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.footer .icones img {
  display: inline-block;
  margin-left: 25px;
  width: 30px;
  height: 30px;
}
  
.senai, .sesi {
  width: 250%;
  display: inline-block;
  text-align: center;
  padding: 50px 0 0px 0;
}
  
.end-senai h3, .end-sesi h3 {
  text-align: left;

}
  
.senai p, .sesi p {
  text-align: left;
}
  
.icones {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**/
.container-artes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 600px;
}
  
.button {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 18px;
  color: black;
}
  
.button:hover {
  color: rgb(141, 9, 9); 
}
  
img {
  max-width: 700px;
  max-height: 700px; 
}

.logo-sesi, .logo-senai {
  width: 250px;
  height: 250px;
}