*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }
 
 .container_header{
    background-color: #ee1616;
    height: 6rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    gap: 0.33rem;
 }
 
 .container_img {
    height: 6rem;
    width: 30%;
    height: 100%;
 }
 
 .container_img img{
    height: 100%;
    width: 100%;
 }
 
 .divisor{
    background-color: rgb(255, 255, 255);
    height: 4.5rem;
    width: 0.1rem;
    
 }
 
 .icon_menu img{
    height: 60%;
    width: 60%;
 }
 
 .nav{
    width: 62%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
 }
 
 .nav a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
 }
 
 .icon_menu{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
 }