*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Arial;
 }
 
 .container_header{
    background-color: #ee1616;
    height: 6rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    gap: 0.33rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
 }

 body {
  background-color: rgb(122, 122, 122);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 }
 
 .container_img {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
 }
 
 .container_img img{
    height: 100%;
    width: auto;
    margin-right: 0.5rem;
 }
 
 .divisor{
    background-color: rgb(255, 255, 255);
    height: 5rem;
    width: 0.2rem;
    align-items: center;
 }
 
 .divisor-footer {
   background-color: rgb(255, 255, 255);
    height: 3rem;
    width: 0.2rem;
    align-items: center;
  }

 .icon_menu img{
    height: 60%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
 }
 
 .nav{
    width: 62%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content:center;
    align-items: center;
    gap: 5rem;
 }
 
 .nav a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
 }
 
 .icon_menu{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-right: 1rem;
    width: 5%;
    height: 70%;
 }

 .barra-redes{
    background-color: #9a1915;
    width: 100%;
    padding: 0.3rem;  
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .barra-icones {
    display: flex;
    height: 100%;
    background-color: #e30613;
    display: flex;
    justify-content: space-around;
    width: 100%;
   }

   .barra-redes, .icones img {
   display: inline-block;
   width: 20px;
   height: 20px;
   }

  footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  background-color: #9a1915;
  color: white;
  flex-wrap: wrap;
  position: relative;
  color: white;
  flex-wrap: wrap;
  position: relative;
  }

  .end-senai h3, .end-sesi h3 {
    text-align: left;
  }
  
  .senai p, .sesi p {
    text-align: left;
  }

  nav ul {
    list-style: none;
     display: flex;
     gap: 5rem;
     margin: 0;
     padding: 0;
  }

  nav ul li {
    display: inline;
  }

  nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
  }
 