.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
  }
  
.button {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 18px;
  color: black;
}
  
.button:hover {
  color: rgb(141, 9, 9); 
}
img {
  max-width: 700px;
  max-height: 700px; 
}

.header-banner {
  background-image: url('/Portal_Noticias/images/artes.jpg');
  background-size: cover;
  height: 400px;
  position: relative;
}

.conteudo-carreira {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
}

.conteudo {
  margin-bottom: 30px;
}

.conteudo h1 {
  font-size: 50px;
  color: #a52a2a;
  text-align: center;
  margin-bottom: 20px;
}

.conteudo p {
  font-size: 30px;
  line-height: 1.6;
  color: #000000;
}

.carreiras {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.carreiras-individual {
  text-align: center;
  width: 23%;
  margin-bottom: 20px;
}

.carreiras-individual img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}