.container {
display: flex;
justify-content: space-around;
align-items: center;
height: 600px;
}

.button {
text-decoration: none;
padding: 10px 20px;
font-size: 18px;
color: black;
}

.button:hover {
color: rgb(141, 9, 9); 
}
img {
max-width: 700px;
max-height: 700px; 
}

.conteudo-carreira {
width: 80%;
margin: 20px auto;
padding: 20px;
}

.conteudo {
margin-bottom: 30px;
}

.conteudo h1 {
font-size: 50px;
color: #a52a2a;
text-align: center;
margin-bottom: 20px;
}

.conteudo p {
font-size: 30px;
line-height: 1.6;
color: #000000;
text-align: justify;
}

.carreiras {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin-bottom: 30px;
}

.carreiras-individual {
text-align: center;
width: 23%;
margin-bottom: 20px;
}

.carreiras-individual img {
width: 100%;
height: auto;
border-radius: 8px;
}

.conteudo ul{
font-size: 30px;
line-height: 1.6;
color: #000000;
margin-bottom: 20px;
text-align: justify;
}

.carreiras-individual {
position: relative;
transition: transform 0.3s ease, z-index 0.3s ease;
}

.carreiras-individual:hover {
z-index: 10; 
transform: scale(1.1); 
}

.conteudo h1 {
position: relative;
transition: transform 0.3s ease, z-index 0.3s ease;
}

.conteudo h1:hover {
z-index: 10; 
transform: scale(1.1); 
}

@media (max-width: 1024px) {
.topics-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.carreiras {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carreiras-individual {
    width: 45%;
    margin: 5px;
    text-align: center;
}

.conteudo {
    padding: 10px;
}

.footer .enderecos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
}

@media (max-width: 768px) {
.topics-header {
    flex-direction: column;
    text-align: center;
}

.aba-item {
    
    width: 100%;
    margin-bottom: 10px;
}

.carreiras-individual {
    width: 100%;
    margin-bottom: 15px;
}

.conteudo {
    padding: 5px;
}

.footer .enderecos {
    flex-direction: column;
    align-items: center;
}

.footer .icones {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}
}