.carreira {
    width: 80%;
    margin: 30px auto;
    padding: 20px;
}

.carreira h1 {
    font-size: 50px;
    color: #a52a2a;
    text-align: center;
    margin-bottom: 20px;
}

.carreira p {
    font-size: 30px;
    line-height: 1.6;
    color: #000000;
    margin-bottom: 20px;
    text-align: justify;
}

.carreira ul,
.carreira li{
    font-size: 30px;
    line-height: 1.6;
    color: #000000;
    margin-bottom: 20px;
    text-align: justify;
}

.carreira img {
    display: block;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.carreira h1 {
    position: relative;
    transition: transform 0.3s ease, z-index 0.3s ease;
}

.carreira h1:hover {
    z-index: 10; 
    transform: scale(1.1); 
}

@media (max-width: 1024px) {
    .topics-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px;
    }

    .carreiras {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .carreiras-individual {
        width: 45%;
        margin: 5px;
        text-align: center;
    }

    .conteudo {
        padding: 10px;
    }

    .footer .enderecos {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .topics-header {
        flex-direction: column;
        text-align: center;
    }

    .aba-item {
        width: 100%;
        margin-bottom: 10px;
    }

    .carreiras-individual {
        width: 100%;
        margin-bottom: 15px;
    }

    .conteudo {
        padding: 5px;
    }

    .footer .enderecos {
        flex-direction: column;
        align-items: center;
    }

    .footer .icones {
        margin-top: 15px;
        display: flex;
        justify-content: space-around;
    }
}