.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
  }
  
  .button {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    color: black;
  }
  
  .button:hover {
    color: rgb(141, 9, 9); 
  }
  
  img {
    max-width: 700px;
    max-height: 700px; 
  }