body{
    background-image: url('../images/fundoArtes.jpg');
    background-position: center;
    background-size: cover;
}

.title-conteudo{
    font-size: larger;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: end;
    color: #fff;
    display: flex;
}
.conteudo-img{
    height: 25rem;
    border-radius: 10px;
    width: 30rem;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 36%;
    margin-right: 20%;
}

.container_header{
    background-color: #e20614;
    height: 6rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    gap: 0.33rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
 }
 
 .container_img {
    height: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
 }
  
 .container_img img{
    height: 100%;
    width: 100%;
    margin-right: 0.5rem;
 }
  
 .divisor{
    background-color: rgb(255, 255, 255);
    height: 5rem;
    width: 0.2rem;
    justify-content: center;
 }
 
 .icon_menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 35px;
    height: 24px;
    cursor: pointer;
    margin-right: 1rem;
  }
  
 .line1, .line2, .line3 {
    background-color: white;
    height: 4px;
    width: 100%;
    border-radius: 2px;
 }
 
 .menu-dropdown {
    display: none;
    background-color: #9a1915;
    position: absolute;
    top: 70px;
    right: 40px;
    width: 500px;
    border-radius: 5px;
 }
 
 .menu-dropdown ul {
    list-style: none;
    padding: 10px;
    margin: 0;
 }
 
 .menu-dropdown ul li {
    margin: 10px 0;
 }
 
 .menu-dropdown ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    display: block;
 }
 
 .menu-dropdown ul li a:hover {
    background-color: rgba(255, 255, 255, 0.356);
    padding: 4px;
    border-radius: 3px;
 }
  
 .nav{
    width: 62%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content:center;
    align-items: center;
    gap: 5rem;
 }
  
 nav ul {
    list-style: none;
    display: flex;
    gap: 5rem;
    margin: 0;
    padding: 0;
 }
 
 nav ul li {
    display: inline;
 }
 
 nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
 }
.banner{
    width: 100%;
    height: 30rem;
}

.informacao{
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
}

.title-conteudo{
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    justify-content: center;
    display: flex;
}

.arts-grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
   padding: 20px;
}

.art-item {
   text-align: center;
}

.art-item img {
   width: 100%;
   height: auto;
   border-radius: 8px;
}

.art-item p {
   margin-top: 10px;
   font-weight: bold;
}

.footer {
    background-color: #9a1915;
    color: white;
    margin-top: 50px;
    text-align:center;
  }
    
  .footer .icones {
    background-color: #e30613;
    display: flex;
    align-items: center;
    justify-content: center;
  }
    
  .footer .icones img {
    display: inline-block;
    margin-left: 25px;
    width: 30px;
    height: 30px;
  }
    
  .senai, .sesi {
    width: 25%;
    display: inline-block;
    text-align: center;
    padding: 50px 0 0px 0;
  }
    
  .end-senai h3, .end-sesi h3 {
    text-align: left;
  
  }
    
  .senai p, .sesi p {
    text-align: left;
  }
    
  .icones {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container-artes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
  }
    
  .button {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    color: black;
  }
    
  .button:hover {
    color: rgb(141, 9, 9); 
  }