
.conteudo-img{
    height: 25rem;
    border-radius: 10px;
    width: 25rem;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 25%;
}

.banner{
    width: 100%;
    height: 30rem;
}

.informacao{
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
}

.title-conteudo{
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    justify-content: center;
    display: flex;
}