*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Arial;
 }
 
 body {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
 }
 
 .container-header{
    background-color: #e20614;
    height: 6rem;
    width: 100%;
    display: flex;
    gap: 0.33rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
 }
 
 .container-headerimg {
    height: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
 }
 
 .container-headerimg img{
    max-height: 100%;
    max-width: 100%;
    margin-right: 0.5rem;
 }
 
 .divisor{
    background-color: rgb(255, 255, 255);
    height: 5rem;
    width: 0.2rem;
    margin: 0 300px;
 }
 
 .icon_menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 35px;
    height: 24px;
    cursor: pointer;
    margin-right: 1rem;
 }
 
 .line1, .line2, .line3 {
    background-color: white;
    height: 4px;
    width: 100%;
    border-radius: 2px;
 }
 
 .menu-dropdown {
    display: none;
    background-color: #9a1915;
    position: absolute;
    top: 70px;
    right: 80px;
    width: 150px;
    border-radius: 8px;
 }
 
 .menu-dropdown ul {
    list-style: none;
    padding: 20px;
    margin: 0;
    flex-direction: column;
 }
 
 .menu-dropdown ul li {
    margin: 0.1rem;
 }
 
 .menu-dropdown ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    display: block;
 }
 
 .menu-dropdown ul li a:hover {
    background-color: rgba(255, 255, 255, 0.356);
    padding: 9px;
    border-radius: 3px;
    margin-right: 4px;
 }
 
 .nav{
    width: 62%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content:center;
    align-items: center;
    gap: 5rem;
 }
 
 nav ul {
    list-style: none;
    display: flex;
    gap: 5rem;
    margin: 0;
    padding: 0;
 }
 
 nav ul li {
    display: inline;
 }
 
 nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
 }
 
 
 .barra-icones {
    display: flex;
    background-color: #e30613;
    justify-content: center;
    width: 100%;
    margin-top: auto;
 }
 
 .icones {
    display: flex;
    height: 100%;
    justify-content: space-between;
    width: 25px;
    gap: 5rem;
    justify-content: center;
    margin-left: 0.5rem;
 }
 
 .icones img {
    display: inline-block;
    height: 30px;
    width: 30px;
 }
 
 .divisor-footer {
    background-color: rgb(255, 255, 255);
    height: 10rem;
    width: 0.2rem;
    justify-content: center;
    margin-right: 0.6rem;
 }
 
 footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
    background-color: #9a1915;
    color: white;
    flex-wrap: wrap;
    position: relative;
    margin-top: auto;
 }
 
 .divisor-footer {
    background-color: rgb(255, 255, 255);
    height: 6rem;
    width: 0.2rem;
    justify-content: center;
 }

 .img-lig{
    height: 25rem;
    width: 35rem;
    justify-content: center;
    border-radius: 5%;
    box-shadow: 10px 10px 5px #aaaaaa;
 }

 .ligacao{
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 3rem;
    height: 75vh;
 }

 @media (max-width: 600px){

 }
    .header-nav ul {
        flex-direction: column;
        align-items: center;
    }
 p, h3 {
        font-size: 20px;
        margin-left: 2%;
        margin-right: 2%;
    }


    .button-container {
        margin: 2%;
    }


    .imagem-button {
        width: 100%;
        height: auto;
    }


@media (min-width: 601px) and (max-width: 1024px) {
    .header-nav ul {
        justify-content: space-around;
    }


    .header-banner {
        height: 300px;
    }


    .button-container {
        margin: 2%;
    }


    p, h3 {
        font-size: 25px;
    }
}


@media (min-width: 1025px) {
    .header-nav ul {
        justify-content: space-between;
    }


    .header-banner {
        height: 400px;
    }


    p, h3 {
        font-size: 30px;
    }
}