body {
    font-family: Arial, sans-serif;
    padding: 0;
}

.logo-header img {
    max-height: 90px;
    margin-right: 0px;
}

.vertical-line {
    border-left: 1px solid rgb(255, 255, 255);
    height: 90px;
}

.header-nav ul {
    list-style: none;
    display: flex;
    margin: 5;
    padding: 0;
}

.header-nav ul li {
    margin-left: 20px;
}

.header-nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#icones-header i {
    color: white;
}

.header-banner {
    background-image: url('./../images/eFisica.jpg');
    background-size: cover;
    height: 400px;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.topics-header {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 10px 0;
}

.aba-item {
    margin: 0 15px;
}

.aba-text {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.aba-text-dicas {
    padding: 5px;
    border-radius: 5px;
}

/**/

.container-carreira {
    justify-content: center;
}

.conteudo-principal {
    max-width: 3000px; /*pra deixar o texto ocupar uma linha normal*/
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.conteudo-principal img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    padding-top: 5%;
    padding-bottom: 4%;
}


h1 {
    color: #000000;
    padding-bottom: 1%;
    padding-top: 2%;
    text-align: center;
    font-size: 50px;
}

p {
    padding-bottom: 1%;
    padding-top: 1%;
    font-size: 30px; 
    text-align: justify; 
    margin-left: 5%; 
    margin-right: 5%; 
}

.icones {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.icones a {
    margin: 0 10px;
}

.icones img {
    width: 25px;
    height: 25px;
}

.enderecos {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.enderecos div {
    max-width: 300px;
}

.enderecos h3 {
    margin-bottom: 5px;
}

@media screen and (max-width: 1024px) {
    .topics-header {
        flex-wrap: wrap;
    }

    .aba-item {
        margin-bottom: 10px;
    }

    .conteudo-principal img {
        height: auto;
    }

    .enderecos {
        flex-direction: column;
        align-items: center;
    }

    .enderecos div {
        text-align: center;
    }
}

@media screen and (max-width: 900px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .header-nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    .vertical-line {
        display: none;
    }

    .topics-header {
        flex-direction: column;
    }

    .container-carreira {
        padding: 20px;
    }

    .conteudo-principal {
        width: 100%;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.button-container {
    text-align: center;
    margin: 10px;
    transition: transform 0.3s;
    width: 20%;
    height: 20%;
}

.button-container:hover {
    transform: scale(1.05);
}

.imagem-button {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    height: 100%;
    width: 100%;
}

.imagem-button:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.imagem-button img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 0%;
}

.button-container p {
    margin-top: 10px;
    font-weight: bold;
    color: #050505;
    
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .imagem-button img {
        width: 200px;
        height: auto;
    }
}
ul {
    list-style-type: disc;
    padding-left: 2em;
    text-align: justify; 
    margin-left: 5%; 
    margin-right: 5%; 
    font-size: 30px; 
    margin-top: 3%;
}
