.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
  }

p {
    padding-bottom: 1%;
    padding-top: 1%;
    font-size: 30px; 
    text-align: justify; 
    margin-left: 5%; 
    margin-right: 5%; 
}

.icones {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.icones a {
    margin: 0 10px;
}

.icones img {
    width: 25px;
    height: 25px;
}

.enderecos {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.enderecos div {
    max-width: 300px;
}
h2{
    
}

.enderecos h3 {
    margin-bottom: 5px;
}

@media screen and (max-width: 1024px) {
    .topics-header {
        flex-wrap: wrap;
    }

    .aba-item {
        margin-bottom: 10px;
    }

    .conteudo-principal img {
        height: auto;
    }

    .enderecos {
        flex-direction: column;
        align-items: center;
    }

    .enderecos div {
        text-align: center;
    }
}

@media screen and (max-width: 900px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .header-nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    .vertical-line {
        display: none;
    }

    .topics-header {
        flex-direction: column;
    }

    .container-carreira {
        padding: 20px;
    }

    .conteudo-principal {
        width: 100%;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.button-container {
    text-align: center;
    margin: 10px;
    transition: transform 0.3s;
    width: 20em;
    height: 20em;
}

.button-container:hover {
    transform: scale(1.05);
}

.imagem-button {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    height: 100%;
    width: 100%;
}

.imagem-button:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.imagem-button img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 0%;
}

.button-container p {
    margin-top: 10px;
    font-weight: bold;
    color: #050505;
    
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .imagem-button img {
        width: 200px;
        height: auto;
    }
}
ul {
    list-style-type: disc;
    padding-left: 2em;
    text-align: justify; 
    margin-left: 5%; 
    margin-right: 5%; 
    font-size: 30px; 
    margin-top: 3%;
}
.footer .enderecos {
    flex-direction: column;
    align-items: center;
}

.footer .icones {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

