
.container{
    display: flex;
    justify-content: center;
    gap: 3vw;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10vh;
}

.button-container{
    text-align: center;
    margin: 2vh;
    transition:transform 0.3s;
    flex: 1;
    width: 20vw;
}
.button-container:hover {
    transform: scale(1.05);
}

.button-container img{
    width: 100px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.conteudo-principal {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto; 
}

.conteudo-principal img {
    display: block;
    margin: 20px auto;
    width: 100%;
    height: 10vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

h1 {
    color: #000000;
    padding-bottom: 20px;
    padding-top: 2%;
    text-align: center;
    font-size: 3rem; 
}

p {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 1.5rem;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}

@media screen and (max-width: 1024px) {
    .conteudo-principal img {
        height: auto;
    }
}

@media screen and (max-width: 900px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .container-carreira {
        padding: 5%;
    }

    .conteudo-principal {
        width: 100%;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw; 
    margin-bottom: 10vh;
}

.button-container {
    text-align: center;
    margin: 2vh; 
    transition: transform 0.3s;
    width: 50vw; 
    height: 12vw;
}

.button-container:hover {
    transform: scale(1.05);
}

.imagem-button {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    height: 100%;
    width: 100%;
}

.imagem-button:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.imagem-button img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 0;
}

.button-container p {
    margin-top: 1vh; 
    font-weight: bold;
    color: #050505;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .imagem-button img {
        width: 40vw; 
        height: auto;
    }
    .footer .enderecos {
        flex-direction: column;
        align-items: center;
    }

    .footer .icones {
        margin-top: 15px;
        display: flex;
        justify-content: space-around;
    }
}

ul {
    list-style-type: disc;
    padding-left: 4vw;
    text-align: justify; 
    margin-left: 5%; 
    margin-right: 5%; 
    font-size: 1.8rem; 
    margin-top: 3%;
}
