
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff0000;
    padding: 10px 20px;
    color: white;
}

.logo-header img {
    max-height: 90px;
    margin-right: 50px;
}

.vertical-line {
    border-left: 1px solid white;
    height: 90px;
}

.header-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header-nav ul li {
    margin-left: 20px;
}

.header-nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#icones-header i {
    color: white;
}

.header-banner {
    background-image: url('/Portal_Noticias/images/carreiras.jpg'); 
    background-size: cover;
    height: 200px;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.topics-header {
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
    padding: 10px 0;
}

.aba-item {
    margin: 0 15px;
}

.aba-text {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.aba-text-dicas {
    padding: 5px;
    border-radius: 5px;
}

.container-carreira {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.conteudo-principal {
    max-width: 900px;
    text-align: center;
}

.conteudo-principal img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

h1 {
    color: #ff0000;
}


.icones {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.icones a {
    margin: 0 10px;
}

.icones img {
    width: 25px;
    height: 25px;
}

.enderecos {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.enderecos div {
    max-width: 300px;
}

.enderecos h3 {
    margin-bottom: 5px;
}

@media screen and (max-width: 1024px) {
    .topics-header {
        flex-wrap: wrap;
    }

    .aba-item {
        margin-bottom: 10px;
    }

    .conteudo-principal img {
        height: auto;
    }

    .enderecos {
        flex-direction: column;
        align-items: center;
    }

    .enderecos div {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .header-nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    .vertical-line {
        display: none;
    }

    .topics-header {
        flex-direction: column;
    }

    .container-carreira {
        padding: 10px;
    }

    .conteudo-principal {
        width: 100%;
    }
}


