body {
    font-family: Arial, sans-serif;
    padding: 0;
}


.ensino-content h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 3%;
    color: rgb(0, 0, 0);
    position: relative;
    transition: transform 0.3s ease, z-index 0.3s ease;
    cursor: pointer;
}
.ensino-content h1:hover {
    z-index: 10;
    transform: scale(1.1);
}
.ensino-content h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2%;
    margin-bottom: 1%;
    color: rgb(0, 0, 0);
    margin: 0 5%;
}
.conteudos h2{
    text-align: center;
    font-size: 3rem;
    margin-top: 2%;
    margin-bottom: 1%;
    color: rgb(92, 21, 21);
    margin: 0 5%;
}
.ensino-img h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 5px;
    margin-bottom: 5%;
    color: rgb(0, 0, 0);
    margin: 0 5%;
}

ul {
    list-style-type: disc;
    padding-left: 2em;
    text-align: justify;
    margin: 0 5%;
    font-size: 1.5rem;
    margin-top: 3%;
}

li {
    margin-bottom: 13px;
    margin-bottom: 15px;
    margin: 2% 5%;
    text-align: justify;
    font-size: 1.5rem;
}

.ensino-img img {
    display: block;
    margin: 3% auto;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px #070505;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.conteudo-ensino p {
    margin-bottom: 15px;
    margin: 2% 5%;
    text-align: justify;
    font-size: 1.5rem;
}

.ensino-content {
    margin: 3% 5%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 1.5rem;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}

@media (max-width: 1200px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    p, ul, .ensino-content {
        font-size: 1.25rem;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    p, ul, .ensino-content {
        font-size: 1rem;
        margin: 5%;
    }
    .ensino-img img {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    p, ul, .ensino-content {
        font-size: 0.9rem;
        margin: 5%;
    }
    ul {
        padding-left: 1.5em;
    }
    .ensino-img img {
        max-width: 100%;
    }
}