body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fdf6e3;
}

.conteudo {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #e02d18;
    font-size: 2rem;
    margin-bottom: 20px;
}

h2 {
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 30px;
}

.ak{
    border-radius: 10px;
}

.piu {
    width: 100%;
    margin-top: 2.3rem;
    border-radius: 8px;
}

.piu3 {
    width: 100%;
    margin-top: 2.3rem;
    border-radius: 8px;
}

.aquecimento {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 100%;
    min-height: 100%;
}

.exercicio1 {
    flex: 1 1 200px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    gap: 10rem;
}

.exercicio {
    flex: 1 1 200px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

.exercicio3 {
    flex: 1 1 200px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}

.exercicio p {
    color: #333;
    margin-bottom: 10px;
}

.exercicio img {
    max-width: 10%;
    height: auto;
    border-radius: 8px;
    max-width: 100%;
}


.barra-icones {
    display: flex;
    background-color: #e30613;
    justify-content: center;
    width: 100%;
    margin-top: auto;
}

.icones {
    display: flex;
    height: 100%;
    justify-content: space-between;
    width: 25px;
    gap: 5rem;
    justify-content: center;
    margin-left: 0.5rem;
}

.icones img {
    display: inline-block;
    height: 30px;
    width: 30px;
} 

.divisor-footer {
    background-color: rgb(255, 255, 255);
    height: 6rem;
    width: 0.2rem;
    justify-content: center;
    margin-right: 0.6rem;
}