.container {
  background-color: #ffffff;
  padding: 40px;
  text-align: center;
  width: 100%;
  height: 100%;
  } 

  .conteudo {
    background-color: #f0f0f0;
    padding: 60px;
    margin: 0 auto 20px auto;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #000000;
    width: 90%;
    align-items: center;
  }

  .conteudo img {
    max-width: 100%;
    border-radius: 3%;
    margin: 30px;
  }

  .conteudo p {
    padding: 5%;
  }

  .introtxt-ef, .introtxt-art {
    margin-top: 100px;
  }

  .phome-intro {
    font-size: 16px;
  }