.intro-ef {
  display: flex;
}

.intro-art {
  display: flex;
}

.container img {
  max-width: 100%;
  border-radius: 5%;
  padding: 2.2rem;
}

.container p {
  padding: 1%;
}

.title-home {
  text-align: center;
}

.phome-intro {
  font-size: 1.3rem;
  line-height: 2rem;
  margin-bottom: 4rem;
  text-align: center;
}

.p-text {
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: justify;
  margin-left: 5rem;
  margin-right: 5rem;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 37rem;
  width: 100%;
  z-index: 1;
}

.slide {
  position: absolute;
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease-in-out;
}

.slide img {
  width: 100%;
  height: auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.intro-ef {
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
}

.intro-artes {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}

.img-ef, .img-art {
  margin: 2rem 0;
  width: auto;
  height: auto;
}

.title-home {
  margin-top: 5rem;
  text-align: center;
}

.title-art {
  font-size: 2rem;
}

.title-ef {
  font-size: 2rem;
}

.txt-ef {
  text-align: center;
  margin-bottom: 2rem;
}

.txt-art {
  text-align: center;
  margin-bottom: 1rem;
}

.txt-art, .txt-ef {
  margin: 0 18rem 0 18rem;
}

.img-ef, .img-art {
  width: auto;
  height: auto;
  margin-left: 2rem;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  padding: auto;
}

@media (max-width: 1024px) {
  .main-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .img-ef,
  .img-art {
    width: 100%;
    height: auto;
    margin: 1rem auto;
  }

  .txt-ef,
  .txt-art {
    margin: 1rem 0;
  }
}

@media (max-width: 768px) {
  .phome-intro {
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin: 2rem 1rem;
  }

  .title-home {
    font-size: 1.8rem;
    margin: 1rem 0;
  }

  .p-text {
    font-size: 1rem;
    margin: 1rem;
  }

  .slider {
    height: auto;
  }
}

@media (max-width: 480px) {
  .main-content {
    flex-direction: column;
    padding: 1rem;
  }

  .slider img {
    width: 100%;
    height: auto;
  }

  .title-home {
    font-size: 1.5rem;
    margin: 2rem 0;
  }

  .phome-intro {
    font-size: 0.9rem;
  }

  .p-text {
    font-size: 0.8rem;
    margin: 0.5rem;
  }
}
