body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.marketing-esportivo {
    padding: 2rem;
    text-align: center;
}



.marketing-imagem {
    display: flex;
    justify-content: center;
    gap: 2vw; 
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.marketing-imagem img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 20px #070505;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    margin-top: 2rem;
}

.container-marketing h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 3%;
    color: rgb(0, 0, 0);
    position: relative;
    transition: transform 0.3s ease, z-index 0.3s ease;
}
.container-marketing h2{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2%;
    margin-bottom: 1%;
    color: rgb(0, 0, 0);
    margin: 3rem 5%;
}

.depois-imagem h2{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2%;
    margin-bottom: 1%;
    color: rgb(0, 0, 0);
    margin: 3rem 5%;
}
.container-marketing p {
    text-align: center;
    margin: 3rem 5%;
    font-size: 1.6rem; 
    text-align: justify;
    margin-bottom: 1%;
    margin-top: 1%;
}

ul {
    list-style-type: disc;
    padding-left: 2em;
    text-align: justify;
    margin: 1% 5%;
    font-size: 1.6rem; 
    margin-top: 1%;
    margin-bottom: 1%;
}
li {
    margin-bottom: 10px;
}

@media (max-width: 1200px) {
    .header-nav ul li {
        margin-left: 1.5vw;
    }
    p, ul {
        font-size: 1.25rem;
    }
}

@media (max-width: 768px) {
    .header-nav ul {
        flex-direction: column;
        align-items: center;
    }
    .header-nav ul li {
        margin-left: 0;
        margin-bottom: 1rem;
    }
    .header-banner {
        height: 30vh;
    }
    p, ul {
        font-size: 1.6rem;
    }
}
@media (max-width: 480px) {
    .logo-header img {
        max-height: 20vw;
    }
    .header-banner {
        height: 20vh;
    }
    .marketing-esportivo h2 {
        font-size: 1.5rem;
    }
    .marketing-esportivo p, p, ul {
        font-size: 1rem;
        margin-left: 3%;
        margin-right: 3%;
    }
    .vertical-line {
        height: 4vh;
    }
}