body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.marketing-esportivo {
    padding: 2rem;
    text-align: center;
}



.marketing-imagem {
    display: flex;
    justify-content: center;
    gap: 2vw; 
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.marketing-imagem img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 20px #070505;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    margin-top: 2rem;
}

.container-marketing h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 3%;
    color: rgb(0, 0, 0);
    position: relative;
    transition: transform 0.3s ease, z-index 0.3s ease;
}
.container-marketing h2{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2%;
    margin-bottom: 1%;
    color: rgb(0, 0, 0);
    margin: 3rem 5%;
}

.depois-imagem h2{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2%;
    margin-bottom: 1%;
    color: rgb(0, 0, 0);
    margin: 3rem 5%;
}
.container-marketing p {
    text-align: center;
    margin: 3rem 5%;
    font-size: 1.6rem; 
    text-align: justify;
    margin-bottom: 1%;
    margin-top: 1%;
}

ul {
    list-style-type: disc;
    padding-left: 2em;
    text-align: justify;
    margin: 1% 5%;
    font-size: 1.6rem; 
    margin-top: 1%;
    margin-bottom: 1%;
}
li {
    margin-bottom: 10px;
}

@media (max-width: 1200px) {
    .container-marketing h1 {
        font-size: 2.5rem;
    }

    .container-marketing h2 {
        font-size: 2rem;
        margin: 2rem 3%;
    }
    .container-marketing p {
        font-size: 1.3rem;
        margin:  2rem 3%;
    }

    ul {
        margin:  2rem 3%;
        font-size: 1.3rem;
    }

    .marketing-imagem  {
        margin-top: 1rem;
    }
}

@media (max-width: 768px) {
    .marketing-imagem {
        flex-direction: column;
        gap: 1rem;
    }
    .container-marketing h1  {
        font-size: 2rem;
    }
    .container-marketing h2 {
        font-size: 1.8rem;
    }
    .container-marketing p {
        font-size: 1.2rem;
        margin: 1rem 5%;
    }
}

@media (max-width: 480px) {
    .container-marketing h1 {
        font-size: 1.5rem;
    }
    .container-marketing h2 {
        font-size: 1.5rem;
    }

    .container-marketing p {
        font-size: 1rem;
        margin: 1rem 3%;
    }
    .container-marketing ul {
        font-size: 1rem;
        margin: 1rem 3%;
    }
    
    .marketing-imagem img {
        max-width: 90%;
    }

}