* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
}


h1{
    margin-top: 5%;
    font-size: 3rem;
}
p {
    margin-top: 2%;
    font-size: 1.5rem;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 1%;
}
.container {
    margin-top: 1%;
    display: grid;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    grid-template-columns: repeat(2, 1fr);
}

.noticias {
    display: flex;
    background-color: rgb(238, 236, 236);
    box-shadow:rgba(0, 0, 0, 0.1) ;
    border-radius: 10px;
    margin: 4%;
    flex-direction: row;
    box-sizing: border-box;
    /*width: 50rem;*/
}

.noticias img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-left: 1rem;
    margin-top: 1rem;
}

.conteudo-noticia{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo-noticia{
    font-weight: bold;
    color: #333;
    font-size: 1.2rem;
    text-decoration: none;
    margin-bottom: 8px;
    margin-left: 4%;
}
.conteudo-noticia p{
    font-size: 1rem;
    color: rgb(36, 34, 34);
    line-height: 1.5rem;
}
.conteúdo1 p {
    font-size: 1rem;
    color: rgb(36, 34, 34);
    line-height: 1.5rem;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 2.5rem;
    }
    .container{
        width: 90%;
        grid-template-columns: 1fr;
    }
    .noticias {
        flex-direction: column;
        margin: 2%;
    }
    .noticias{
        width: 100%;
        height: auto;
        border-radius: 0%;
    }
}
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
        margin-top: 2%;
    }
    .noticias p{
        font-size: 1rem;
        margin: 5%;
    }

}
