body {
    font-family: Arial, sans-serif;
    padding: 0;
}

.personal img{
    display: block;
    margin: 4% auto;
    border-radius: 10px;
    box-shadow: 0 0 20px #070505;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    max-width: 30%;
    height: auto;
}

.personal h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 3%;
    color: rgb(0, 0, 0);
    position: relative;
    transition: transform 0.3s ease, z-index 0.3s ease;
}
.personal h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2%;
    margin-bottom: 1%;
    color: rgb(0, 0, 0);
}

ul {
    list-style-type: disc;
    padding-left: 2em;
    text-align: justify;
    margin: 0 5%;
    font-size: 1.5rem;
    margin-top: 3%;
}

li {
    margin-bottom: 10px;
}

.personal p{
    text-align: justify;
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 1.5rem;
    text-align: justify;
    margin: 2% 5%;
}
.cref img{
    width: 40%;
    height: auto;
    margin: 2% auto 50px;
    display: block;
    transition: 0.4s ease-in-out;
}
.cref img:hover{
    box-shadow: 0 0 20px #101720, 0 0 40px #2d2f31,
    0 0 60px #181e24;
}
@media (max-width: 1200px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    p, ul {
        font-size: 1.25rem;
    }
    .cref img {
        width: 60%;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    p, ul {
        font-size: 1rem;
    }
    .cref img {
        width: 80%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.3rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    .personal p, ul {
        font-size: 0.8rem;
    }
    .personal img {
        width: 50vw;
    }
    .cref img {
        width: 50vw;
    }
    .cref p {
        font-size: 0.7rem; ;
    }
    ul {
        padding-left: 1.6em;
    }
    .cref img {
        width: 100%;
    }
}