

.title {
   font-size: larger;
   font-family: Arial, Helvetica, sans-serif;
   color: #000000;
   margin-top: 2rem;
}

.container {
   background-color: #e6e6e6;
   width: 22rem;
   height: 22rem;
   border-radius: 10px;
   justify-content: center;
   display: flex;
   margin-block-end: 30px;
   margin-top: 10px;
}

.sub-title {
   font-family: Arial, Helvetica, sans-serif;
   color: #000000;
   margin-top: 2rem;
   font-size: larger;
}

.container2 {
   background-color: #e6e6e6;
   width: 22rem;
   height: 22rem;
   border-radius: 10px;
   justify-content: center;
   display: flex;
   align-items: center;
   margin-block-end: 30px;
   margin-top: 10px;
}

.title-princi {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 1.5rem;
   justify-content: center;
   display: flex;
   margin-top: 15px;
}

.alinhar {
   justify-content: center;
   display: grid;
}

.title2 {
   font-size: larger;
   font-family: Arial, Helvetica, sans-serif;
   color: #000000;
   margin-top: 10px;
}

.simulado2 {
   margin: auto;
}

@media (max-width: 1024px) {
   .container {
       width: 90%;
   }

   h1 {
       font-size: 2.5rem;
   }

   .container-header {
       padding: 0.5rem;
   }

   .title-princi {
       font-size: 2.5rem;
   }

   .sub-title2 {
    text-decoration: none;
    color: #000000;
   }

   .container img {
       width: 100%;
       height: auto;
   }

   .nav {
       width: 80%;
   }

   .icones {
       gap: 2rem;
   }
}

@media (max-width: 768px) {
   .container-header {
       flex-direction: column;
       padding: 0.5rem;
   }

   .container-headerimg {
       width: 100%;
       justify-content: center;
       margin-top: 1rem;
   }

   .container {
       width: 100%;
   }

   .nav ul {
       flex-direction: column;
       gap: 2rem;
   }

   footer {
       flex-direction: column;
       gap: 2rem;
   }

   .title-princi {
       font-size: 2.2rem;
   }

   .icones {
       gap: 1.5rem;
   }
}

@media (max-width: 480px) {
   .container-header {
       padding: 0.5rem;
   }

   .title-princi {
       font-size: 2rem;
   }

   .container img {
       width: 100%;
       height: auto;
   }

   .nav ul {
       flex-direction: column;
       gap: 1rem;
   }

   .container {
       width: 100%;
   }

   footer {
       flex-direction: column;
       align-items: center;
   }

   .icones {
       gap: 1rem;
   }
}
