.container {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    font-size: 25px;
}

.conteudos {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 2rem;
}

h2 {
    text-align: center;
}

.img-art, .img-ef {
    width: 30rem;
    height: 25rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    cursor: pointer;
    border-radius: 5%;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    
}

.conteudo-ef img {
    position: relative;
    transition: transform 0.3s ease, z-index 0.3s ease;
}

.conteudo-ef img:hover {
    z-index: 10; 
    transform: scale(1.1); 
}

.conteudo-artes img {
        position: relative;
        transition: transform 0.3s ease, z-index 0.3s ease;
}
    
.conteudo-artes img:hover {
        z-index: 10; 
        transform: scale(1.1); 
}

.conteudo-artes p {
    font-size: 30px;
}

.introducao p {
    font-size: 25px;
    text-align: justify;
    padding: 2%;
}

@media (max-width: 1000px) {
    .conteudos {
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 20px;

    }

    .img-art, .img-ef {
        width: 25rem;
        height: 20rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        cursor: pointer;
        border-radius: 5%;
    }
}   

@media (max-width: 800px) {
    .conteudos {
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 20px;

    }

    .img-art, .img-ef {
        width: 20rem;
        height: 15rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        cursor: pointer;
        border-radius: 5%;
    }
}

@media (max-width: 600px) {
    .conteudos {
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 20px;

    }

    .img-art, .img-ef {
        width: 15rem;
        height: 10rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        cursor: pointer;
        border-radius: 5%;
    }
}

@media (max-width: 400px) {
    .conteudos {
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 20px;

    }

    .img-art, .img-ef {
        width: 10rem;
        height: 7rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        cursor: pointer;
        border-radius: 5%;
    }
}

@media (max-width: 300px) {
    .conteudos {
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 20px;

    }

    .img-art, .img-ef {
        width: 7rem;
        height: 5rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        cursor: pointer;
        border-radius: 5%;
    }
}
@media (max-width: 480px) {
    
    .container {
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
        font-size: 25px;
    }

    .conteudos {
        display: flex;
        flex-wrap: nowrap;
        gap: 2rem;
        justify-content: space-around;
    }

    .conteudo-artes, .conteudo-ef {
        width: 90%;
        text-align: center;
    }

    h2 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .img-art, .img-ef {
        width: 30rem;
        height: 25rem;
        border-radius: 5%;
        margin-bottom: 1rem;
        margin-top: 2rem;
    margin-bottom: 5rem;
    }
    
    a {
        font-size: 1rem;
        text-decoration: none;
        color: black;
    }


    .conteudo-artes img{
        align-items: center;
    }
    .nav {
       display: flex;
       justify-content: center;
       align-items: center;
    }

    nav ul {
       display:  flex;
       flex-direction: row;
       justify-content: center;
       align-items: center  ;
       gap: 1rem;
    }

    nav ul li a {
       font-size: 1rem;
    }
    .icon_menu {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       width: 30px;
       height: 20px;
    }
    
    .line1,
    .line2,
    .line3 {
       background-color: #ffffff;
       height: 3px;
       width: 100%;
       border-radius: 2px;
    }

    .info-senai, .info-sesi {
       text-align: center;
       padding: 0.5rem 1rem;
       width: 100%;
    }
    
    .divisor-footer {
       display: none;
    }

    .icones {
       display: flex;
       justify-content: center;
       gap: 0.5rem;
    }

    .icones img {
       width: 24px;
       height: 24px;
    }

    footer {
       display: flex;
       flex-direction: column;
       align-items: center;
       text-align: center;
       gap: 1rem;
       padding: 1rem;
       width: 100%;
    }
 }