
* {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    background-color: #ffffff;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    margin-top: 2%;
}
p {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 0%;
    font-size: 1.5rem; 
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%; 
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.member {
    background-color: #fff;
    padding: 0px;
    margin-bottom: 90px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.member img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.member:hover {
    transform: scale(1.05);
}

.member h3 {
    margin-bottom: 5px;
    color: #000000;
}

.description {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 0%;
    font-size: 1.5rem; 
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}


