body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.logo-header img {
    max-height: 90px;
    margin-right: 0px;
}

.vertical-line {
    border-left: 1px solid rgb(255, 255, 255);
    height: 90px;
}

.header-nav ul {
    list-style: none;
    display: flex;
    margin: 5px;
    padding: 0;
}

.header-nav ul li {
    margin-left: 20px;
}

.header-nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#icones-header i {
    color: white;
}

.topics-header {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 10px 0;
}

.aba-item {
    margin: 0 15px;
}

.aba-text {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.aba-text-dicas {
    padding: 5px;
    border-radius: 5px;
}

/**/

.container {
    padding: 40px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.member {
    background-color: #fff;
    padding: 0px;
    margin-bottom: 90px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.member img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 2%;
    margin-top: 2%;
}

.member h3 {
    font-size: 25px;
    margin-bottom: 5px;
    color: #000000;
}

.description {
    border-radius: 9px;
    color: #000000;
    margin: 50px;
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: medium;
    line-height: 200%;
}

.footer {
    background-color: #9a1915;
    color: white;
    margin-top: 50px;
}

.footer .icones {
    background-color: #e30613;
}

.senai {
    width: 20%;
    display: inline-block;
    text-align: center;
    padding: 30px 0 20px 0;
    margin-left: 29%;
}

.senai h3 {
    text-align: left;
}

.senai p {
    text-align: left;
}

.sesi {
    width: 20%;
    display: inline-block;
    margin-left: 3%;
    text-align: center;
    padding: 0 0 20px 0px;
}

.sesi h3 {
    text-align: left;
}


.sesi p {
    text-align: left;
}

.footer .icones img {
    display: inline-block;
    margin-left: 25px;
}


.icones {
    display: flex;
    align-items: center;
    justify-content: center;
}
p {
    padding-bottom: 0%;
    padding-top: 0%;
    font-size: 30px; 
    text-align: justify; 
    margin-left: 5%; 
    margin-right: 5%; 
    text-decoration: none;
}
h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 3%;
    color: rgb(0, 0, 0);
}