body {
    font-family: Arial, sans-serif;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 3%;
    color: rgb(0, 0, 0);
    position: relative;
   
}

.container-turismo p {
    text-align: justify;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 1.6rem;
    margin-left: 8%;
    margin-right: 8%;
}

.container-turismo h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    margin-top: 3%;
    color: rgb(0, 0, 0);
    margin-left: 8%;
    margin-right: 8%;
}

ul {
    list-style-type: disc;
    padding-left: 2em;
    text-align: justify;
    margin-left: 8%;
    margin-right: 8%;
    font-size: 1.6rem;
    margin-top: 3%;
}

li {
    margin-bottom: 10px;
}

.container-turismo ul p {
    text-align: left;
    margin: 1%;
}


.container-turismo img {
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 20px #070505;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 2.5rem;
    }
    p, ul {
        font-size: 1.4rem;
        margin: 0 5%;
    }
    .container-turismo h2 {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .container-turismo {
        display: block;
    }
    h1 {
        font-size: 2rem;
    }

    .container-turismo p, ul {
        font-size: 1.2rem;
        margin: 0 3%;
    }

    .container-turismo h2{
        font-size: 1.8rem;
    }

    .container-turismo img {
        max-width: 90%; 
        width: 50vw;
        margin: 2em 2em;
    }
}

@media (max-width: 480px) {
    .container-turismo h1 {
        font-size: 1.5rem;
    }
    .container-turismo h2{
        font-size: 1.2rem;
    }

    .container-turismo p {
        font-size: 0.9rem;
        margin: 0 2%;
    }

    .container-turismo ul {
        font-size: 0.9rem;
        margin: 0 2%;
    }

    .container-turismo h2 {
        font-size: 1.5rem;
    }

    .container-turismo img {
        max-width: 100%;
        max-height: 100%;
        margin-bottom: 3%;
    }
}