main {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


.noticia {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1.9 20px;
}

.titulo {
    text-align: justify;
    margin-top: 15px;
}

.titulo h1 {
    font-size: 2rem;
}

.titulo p {
    font-size: 1.7rem;
}

.imagem-noticia {
    display: flex;
    justify-content: center;
}

.imagem img {
    max-width: 1000px;
    height: auto;
    width: 100%;
    border-radius: 15px;
    padding: 5px;
}

.conteudo p {
    text-align: justify;
    font-size: 1.3rem;
    margin: 10px;
}

@media (max-width: 1200px){
    .titulo h1 {
        font-size: 1.8rem;
    }
    .titulo p {
        font-size: 1.4rem;
    }
    .conteudo p {
        font-size: 1rem;
    }   
}

@media (max-width: 768px) {
    .noticia{
        gap: 15px;
    }
    .titulo h1 {
        font-size: 1.6rem;
    }
    .titulo p {
        font-size: 1rem;
    }
    .imagem img {
        width: 100%;
        height: auto;
    }
    .conteudo p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {

    .container-headerimg img {
        width: 50%;
        height: 50%;
    }

    .container-header {
        width: 100%;
        height: auto;
    }


    .noticia {
        gap: 10px;
        padding: 0 10px;
    }
    .titulo h1{
        font-size: 1.3rem;
    }
    .titulo p {
        font-size: 0.9rem;
    }
    .imagem img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    .conteudo p {
        font-size:  0.85rem;
        margin: 5px;
    }
}